
[Desktop Entry]
Comment=
Exec=env ZED_FONTS_GAMMA=1.2 /home/sigsergv/app/zed/zed.app/bin/zed
Icon=/home/sigsergv/app/zed/zed.app/share/icons/hicolor/512x512/apps/zed.png
Name=Zed Editor
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

# set this value to enable application icon in taskbar
StartupWMClass=dev.zed.Zed
