/*
 * Copy/symlink this file to your firefox profile directory:
 * 
 * Macos: $HOME/Library/Application\ Support/Firefox/Profiles/profile_name/chrome
 * Linux: $HOME/.mozilla/firefox/profile_name/chrome
 *
 * See also: https://developer.mozilla.org/en-US/docs/Tools/Browser_Toolbox
 */

.tab-content:not([pinned]) {
  -moz-padding-start: 3px !important; /* default: 9px */
  -moz-padding-end: 0px !important; /* default: 9px */
}

/* for Macos "Compact light" theme, firefox < 57 only */
#titlebar-placeholder-on-TabsToolbar-for-captions-buttons {
  max-width: 1px !important;
}

/* for Macos "Compact light" theme, firefox < 57 only */
.titlebar-placeholder[type="pre-tabs"] {
  max-width: 5px !important;
}
/* for linux "Compact light" theme */
.titlebar-spacer[type="pre-tabs"] {
    max-width: 5px !important;
}

.tab-throbber:not([pinned]),
.tab-icon-image:not([pinned]) {
  -moz-margin-end: 2px !important; /* make the label closer to the favicon -default: 6px- */
}

.tabbrowser-tab:not([pinned]) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.tabbrowser-tab[pinned] .tab-icon-image {
  margin-left: -2px;
}

.tabbrowser-tab[pinned] {
  max-width: 18px !important; /* small enough to make sure there's no title -favicon is 16px long- */
  min-width: 30px !important;
}

.tab-close-button {
  display: none !important;
}

/* prevent tab overflow */
.tabbrowser-tab {
    min-width: initial !important;
}
.tab-content {
    overflow: hidden !important;
}


