/* some gtk window decoration tweaks */
/* copy/symlink this file to ~/.config/gtk-3.0/gtk.css */

decoration {
	border: 1px solid black;
	border-radius: 0;
	background-color: green;
}

.titlebar {
	border-radius: 0;
}
@import 'colors.css';
